# Token Classification (POS y NER)

In [8]:
## Importación de librerías

import spacy
import pandas as pd
from transformers import pipeline

nlp_parsing = spacy.load('es_core_news_lg')

In [9]:
## Lectura de fichero

texto_original = open("/Users/juan/Documents/Juan's MacBook Pro/CUNEF/Quinto/Informacion no Estructurada/esp.txt", "r").read()
print(texto_original)

Cuando los cines parecen recuperar su músculo, llega a las salas de España la película "Los Estados Unidos contra Billie Holiday", el desalentador retrato del director Lee Daniels sobre la persecución del Gobierno Federal de Estados Unidos a la gran cantante de jazz desde 1947 hasta su muerte en 1959 a la edad de 44 años. El título de la cinta toma como referencia una frase de la artista, que ingresó en prisión durante un año por un cargo de posesión de narcóticos en el apogeo de su carrera: El caso se llama "Los Estados Unidos de América contra Billie Holiday". Está basado en un capítulo del libro "Tras el grito"

In [10]:
## POS _ spaCy

texto_spacy = nlp_parsing(texto_original)

spacy_pos_tagged = [(token.text, token.pos_) for token in texto_spacy]
pd.DataFrame(spacy_pos_tagged, columns=['Token', 'POS']).T

,0,1,2,3,4,5,6,7,8,9,...,114,115,116,117,118,119,120,121,122,123
Token,Cuando,los,cines,parecen,recuperar,su,músculo,",",llega,a,...,un,capítulo,del,libro,"""",Tras,el,grito,"""",\n
POS,SCONJ,DET,NOUN,VERB,VERB,DET,NOUN,PUNCT,VERB,ADP,...,DET,NOUN,ADP,NOUN,PUNCT,ADP,DET,NOUN,PUNCT,SPACE

In [11]:
## POS _ Transformers

from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("sagorsarker/codeswitch-spaeng-pos-lince")
model = AutoModelForTokenClassification.from_pretrained("sagorsarker/codeswitch-spaeng-pos-lince")

nlp_pos = pipeline("ner", model = model, tokenizer = tokenizer)

texto_trf = nlp_pos(texto_original)
trans_pos_tagged = [(token["word"], token["entity"]) for token in texto_trf]
pd.DataFrame(trans_pos_tagged, columns=['Token', 'POS']).T

,0,1,2,3,4,5,6,7,8,9,...,122,123,124,125,126,127,128,129,130,131
Token,Cuando,los,cine,##s,parece,##n,recuperar,su,m,##úsculo,...,un,capítulo,del,libro,"""",Tras,el,gr,##ito,""""
POS,SCONJ,DET,NOUN,NOUN,AUX,AUX,VERB,DET,NOUN,NOUN,...,DET,NOUN,ADP,NOUN,PUNCT,ADP,DET,NOUN,NOUN,PUNCT

In [12]:
## NER _ spaCy

ents_tagged = [(ent.text, ent.label_) for ent in texto_spacy.ents]
pd.DataFrame(ents_tagged, columns=['Entidad', 'Tipo']).T

,0,1,2,3,4,5,6,7,8
Entidad,España,Los Estados Unidos,Billie Holiday,Lee Daniels,Gobierno Federal,Estados Unidos,El título de la cinta,Los Estados Unidos de América,Billie Holiday
Tipo,LOC,LOC,PER,PER,LOC,LOC,MISC,LOC,PER

In [13]:
## ENT _ Transformers

from transformers import AutoTokenizer, AutoModelForTokenClassification

tokenizer = AutoTokenizer.from_pretrained("sagorsarker/codeswitch-spaeng-ner-lince")
model = AutoModelForTokenClassification.from_pretrained("sagorsarker/codeswitch-spaeng-ner-lince")

nlp_pos = pipeline("ner", model = model, tokenizer = tokenizer)

texto_trf = nlp_pos(texto_original)
trans_pos_tagged = [(token["word"], token["entity"]) for token in texto_trf]
pd.DataFrame(trans_pos_tagged, columns=['Token', 'POS']).T

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Token,España,Los,Estados,Unidos,Billie,Holiday,Lee,Daniels,Estados,Unidos,...,Estados,Unidos,de,América,Billie,Holiday,Tras,el,gr,##ito
POS,B-LOC,B-TITLE,I-TITLE,I-TITLE,B-PER,I-PER,B-PER,I-PER,B-LOC,I-LOC,...,I-GROUP,I-GROUP,I-GROUP,B-LOC,B-PER,I-PER,B-TITLE,I-TITLE,I-TITLE,I-TITLE